
<p>Album: <span data-bind="text: Name()"></span></p>
<p>Genre:<span data-bind="text: Genre()"></span></p>
<p>Total length <span data-bind="text: TotalLength()"></span></p>

<table>
    <thead><tr>
        <th>Track</th><th>Name</th><th>Length</th>
    </tr></thead>
   <tbody data-bind='template: { name: "trackTemplate", 
                            foreach: Tracks }'></tbody>
</table>
<button data-bind="click: AddTrack">Add Gift</button>


<script type="text/x-jquery-tmpl" id="trackTemplate">
    <tr>
        <td><input data-bind='enable: TrackNo() ? false : true, value: TrackNo(), valueUpdate: "afterkeydown"' /></td>
        <td><input data-bind='value: Name(), valueUpdate: "afterkeydown"' /></td>
        <td><input data-bind='value: TrackLength(), valueUpdate: "afterkeydown"' /></td>
    </tr>
</script>

<script type="text/javascript">

    var setupModel = function (modelData) {
        var viewModel = ko.mapping.fromJS(modelData);

        viewModel.TotalLength = ko.dependentObservable(function () {
            var sum = 0;
            for (var i = 0; i < this.Tracks().length; i++) {
                sum = sum + this.Tracks()[i].TrackLength();
            };
            return (new Date).clearTime()
              .addSeconds(sum)
              .toString('H:mm:ss');
        }, viewModel);

        viewModel.AddTrack = function () {
            viewModel.Tracks.push({ TrackNo: ko.observable(5), Name: ko.observable("test"), TrackLength: ko.observable(213) });
            //push track to server
        };

        ko.applyBindings(viewModel);
    };
</script>