@using FagweekendQ3.ViewModels
@model AlbumViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2>Tracks for @Model.Name</h2>
<div>
    <ul>
        @foreach( var track in Model.Tracks)
        {
            <li>@track.Name</li>
        }
    </ul>

    @Html.ActionLink("Legg til nytt track..", "Index", "Track", new { albumId = Model.Id}, null)
</div>
