<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="knockoutjs" version="1.2.9.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="2.0.6" />
  <package id="structuremap" version="2.6.3" />
  <package id="StructureMap.MVC3" version="1.0.8" />
  <package id="WebActivator" version="1.4.4" />
</packages>